#wfp-viz-ind .wfp-viz-header{
    margin-bottom:20px;
}

#wfp-viz-ind #wfp-viz-map{
    height:650px;
}

#wfp-viz-ind #wfp-viz-gridmap{
    height:775px;
}

#wfp-viz-ind #wfp-viz-gridlayer {
    display:none;
}

#wfp-viz-ind #wfp-viz-returnmap {
    background-color: #2A93FC;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    border:0px;
}

#wfp-viz-ind .wfp-viz-mapinfo {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1.5em;
 }

#wfp-viz-ind #wfp-viz-grid-rcsi {
    display: none;
}

#wfp-viz-ind #wfp-viz-grid-fcs {
    display: none;
}

#wfp-viz-ind #wfp-viz-grid-housing {
    display: none;
}

#wfp-viz-ind .btn-default {
    margin-right:10px;
    background-color: #2A93FC;
    color: #ffffff;
    width: 170px;
    white-space: normal;
    font-size: 14px;
    height: 55px;
    margin-top: -20px;
}

#wfp-viz-date {
    font-size:2em;
    color:#999999;
}
#wfp-viz-slider {
    padding-top:14px;
}